.container {
  margin: 1em 1.5em;
}

.post {
  margin: 1.5rem 0;
}

.postDate {
  font-weight: 500;
  font-style: italic;
  margin: .2rem 0;
}

.blogContent {
  padding: 1em 1.5em;
}

@media only screen and (min-width: 1200px) {
  .blogContent {
    padding: 2em 5em;
  }
  .container {
    padding: 2em 5em;
  }
}
