.container {
  padding: 1em 1.5em;
}

.contactLinkCard {
  display: flex;
  justify-content: space-around; 
}

.iconWrapper {
  width: 6em;
}

.icon {
  max-width: 100%;
}

.contactLinkCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}

@media only screen and (min-width: 600px) {
  .contactLinkCard {
    justify-content: flex-start;
  }
}
