.container {
  padding: 1em 1.5em;
}

.contactLinks {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

.contactLinkCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}

@media only screen and (min-width: 600px) {
  .contactLinkCard {
    justify-content: flex-start;
  }
}
