@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
  --dark: #222831;
  --light: #eeeeee;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app {
  min-height: 100vh;
}

.dark {
  background-color: var(--dark);
}

.dark-text {
  color: var(--dark);
}

.light-text {
  color: var(--light)
}

.light {
  background-color: var(--light);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
