.main {
  height: 100%;
}

.section {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me {
  width: 10rem;
  height: 10rem;
}

.me > img {
  max-height: 100%;
  border-radius: 50%;
  transition: border-radius .3s;
}

.me > img:hover {
  border-radius: 10%;
}

.darkModeWrapper {
  height: 3rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.darkModeWrapper .darkMode {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  background: black;
  border-radius: 50%;
  margin: 5px 10px;
  overflow: hidden;
}

.darkModeWrapper .darkMode .darkModeInner {
  width: 100%;
  transition: all .5s;
  height: 100%;
  background: white;
  transform: translateX(-50%)
}

.darkModeWrapper .darkMode .lightModeInner {
  transform: translateX(50%);
}

.headline {
  text-align: center;
  font-weight: bolder;
  margin: 1rem 0;
}

.subline {
  text-align: center;
}

.desc {
  text-align: center;
  margin: 2rem 0;
  padding: 0 2rem;
}

.floatingNavBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3.5rem;
  background: linear-gradient(to top,#222 ,#000);
  border: none;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s linear;
  outline: none;
}

.floatingNavBtn > div {
  width: 60%;
  transition: all .5s linear;
  height: 7%;
  margin: 5% 0;
  background-color: white;
  position: relative;
}

.floatingNavBtn > div:before {
  content: '';
  transition: all .5s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  background: inherit;
  left: 0;
}

.floatingNavBtn > div:after {
  bottom: -10px;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  left: 0;
}
.active {
  right: calc(100% - 5rem);
}
.active > div {
  transform: rotate(405deg);
}

.active > div:before {
  transform: rotate(270deg);
  top: 0;
}
.active > div:after {
  display: none;
}
.nav {
  width: 0;
  transition: width .5s linear;
  height: 100%;
  position: fixed;
  right: 0;
  border-radius: 10px 0 0 10px;
  padding: 3rem 0;
  z-index: 1;
}

.nav > ul {
  list-style-type: none;
  color: #fff ;
}

.nav > ul > li {
  margin: 1.5rem 0;
  white-space: nowrap;
  padding: 1rem;
}

.nav > ul > li:hover {
  background:linear-gradient(to top,#6a2c70 ,#b83b5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
}
.nav > ul > li:active {
  background: #000;
}

.nav > ul > li.selected {
  background: #000;
}
.nav > ul > li.selectedLight {
  background: #f5deb3;
}
.activeNav {
  width: calc(100% - 5.5rem);
}

.desktopNav > nav{ display: none }

@media only screen and (min-width: 600px) {
  .activeNav {
    width: 40%;
  }
  .active {
    right: 40%; 
  }
}

@media only screen and (min-width: 1200px) {
  .activeNav {
    display: none;
  }
  .active {
    display: none;
  }
  .floatingNavBtn { display: none }
  .desktopNav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  .desktopNav > nav {
    display: flex;
    align-items: center;
  }
  .desktopNav > nav > ul {
    list-style-type: none;
    display: flex;
    width: 25%;
  }
  .desktopNav > nav > ul > li {
    margin: 0 1em;
  }
}
.icon {
  margin-right: .5em;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.socialInner {
  display: flex;
  justify-content: space-evenly;
  width: 9rem;
}

.other {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  margin: 2rem 0;
}
.fieldset {
  border-radius: 15px;
  padding: .8rem;
  position: relative;
  max-width: 70%;
  min-width: 40%;
}

.legend {
  position: absolute;
  top: -.8rem;
  left: 1em;
}

.logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
}

